

<div class="position-absolute top-50 start-50 translate-middle">
    <form class="row row-cols-lg-auto g-3 align-items-center" [formGroup]="registrationForm" (ngSubmit)="submitData()">
        <div class="col-12">
          <label class="visually-hidden" for="inlineFormInputGroupUsername">Username</label>
          <div class="input-group">
            <input type="text" class="form-control" id="inlineFormInputGroupUsername" [formControlName]="'first_Name'"   placeholder="First Name">
          </div>
        </div>
      
        <div class="col-12">
            <div class="input-group">
                <input type="text" class="form-control" id="inlineFormInputGroupUsername" [formControlName]="'last_Name'"  placeholder="Last Name">
              </div>
          <label class="visually-hidden" for="inlineFormSelectPref">Preference</label>
        </div>
         <div class="col-12">
          <label class="visually-hidden" for="inlineFormInputGroupUsername">Username</label>
          <div class="input-group">
            <input type="text" class="form-control" id="inlineFormInputGroupUsername" [formControlName]="'userName'" placeholder="Username">
          </div>
        </div>
      
        <div class="col-12">
            <div class="input-group">
                <input type="text" class="form-control" id="inlineFormInputGroupUsername" [formControlName]="'password'"  placeholder="Password">
              </div>
          <label class="visually-hidden" for="inlineFormSelectPref">Preference</label>
        </div> 
      
        <div class="input-group mb-3">
          <label class="btn btn-secondary">
          <input #fileInput type="file" (change)="OnFileUpload($event)" accept=".jpg " class="form-control dn" id="inputGroupFile02"  >
          <button type="button ml-1" class="btn btn-primary btn-lg" (click)="triggerClick()">Upload</button>

        </label>

        <img [src]="imagePreview" class="H200">

        </div>

   
<div class="col-12">
  <div class="input-group">
      <input type="text" class="form-control" id="inlineFormInputGroupUsername" [formControlName]="'email'"  placeholder="Email">
    </div>
<label class="visually-hidden" for="inlineFormSelectPref">Preference</label>
</div>
      
        
      
        <div class="col-12">
          <button type="submit" class="btn btn-primary"  >sign up</button>
        </div>

      </form>
    </div>