<!-- <section class="vh-100" style="background-color: #eee;">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-12 col-xl-11">
        <div class="card text-black" style="border-radius: 25px;">
          <div class="card-body p-md-5">
            <div class="row justify-content-center">
              <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign up</p>

                <form class="mx-1 mx-md-4">

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input type="text" id="form3Example1c" class="form-control" [formControlName]="'first_Name'"/>
                      <label class="form-label" for="form3Example1c">First Name</label>
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input type="email" id="form3Example3c" class="form-control" [formControlName]="'last_Name'" />
                      <label class="form-label" for="form3Example3c">Last Name</label>
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input type="email" id="form3Example3c" class="form-control" [formControlName]="'Username'" />
                      <label class="form-label" for="form3Example3c">Username</label>
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input type="password" id="form3Example4c" class="form-control" [formControlName]="'password'" />
                      <label class="form-label" for="form3Example4c" >Password</label>
                    </div>
                  </div>

                  
                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input type="email" id="form3Example3c" class="form-control" [formControlName]="'email'" />
                      <label class="form-label" for="form3Example3c">Email</label>
                    </div>
                  </div>
               
           
                  <div class="input-group mb-3">
                    <label class="btn btn-secondary">
                    <input #fileInput type="file" (change)="OnFileUpload($event)" accept=".jpg " class="form-control dn" id="inputGroupFile02"  >
                    <button type="button ml-1" class="btn btn-primary btn-lg" (click)="triggerClick()">Upload</button>
          
                  </label>
          
                  <img [src]="imagePreview" class="H200">
          
                  </div>

                  <div class="form-check d-flex justify-content-center mb-5">
                    <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3c" />
                    <label class="form-check-label" for="form2Example3">
                      I agree all statements in <a href="#!">Terms of service</a>
                    </label>
                  </div>

                  <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                    <button type="button" class="btn btn-primary btn-lg" type="submit" class="btn btn-primary" >Register</button>
                  </div>


                </form>

              </div>
              <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">

                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp"
                  class="img-fluid" alt="Sample image">

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->



<!-- <div class="card-body p-md-5"> 
  <div class="position-absolute top-50 start-50 translate-middle">
    <form class="row row-cols-lg-auto g-3 align-items-center" [formGroup]="registrationForm" (ngSubmit)="submitData()">
        <div class="col-xl-4">
          <label class="visually-hidden" for="inlineFormInputGroupUsername">Username</label>
          <div class="input-group">
            <input type="text" class="form-control" id="inlineFormInputGroupUsername" [formControlName]="'first_Name'"   placeholder="First Name">
          </div>
        </div>
      
        <div class="col-xl-4">
            <div class="input-group">
                <input type="text" class="form-control" id="inlineFormInputGroupUsername" [formControlName]="'last_Name'"  placeholder="Last Name">
              </div>
          <label class="visually-hidden" for="inlineFormSelectPref">Preference</label>
        </div>
         <div class="col-8">
          <label class="visually-hidden" for="inlineFormInputGroupUsername">Username</label>
          <div class="input-group">
            <input type="text" class="form-control" id="inlineFormInputGroupUsername" [formControlName]="'userName'" placeholder="Username">
          </div>
        </div>
        
        
      
        <div class="col-8">
            <div class="input-group">
                <input type="text" class="form-control" id="inlineFormInputGroupUsername" [formControlName]="'password'"  placeholder="Password">
              </div>
          <label class="visually-hidden" for="inlineFormSelectPref">Preference</label>
        </div> 
      
        <div class="input-group mb-3">
          <label class="btn btn-secondary">
          <input #fileInput type="file" (change)="OnFileUpload($event)" accept=".jpg " class="form-control dn" id="inputGroupFile02"  >
          <button type="button ml-1" class="btn btn-primary btn-lg" (click)="triggerClick()">Upload</button>

        </label>

        <img [src]="imagePreview" class="H200">

        </div>

   
<div class="col-8">
  <div class="input-group">
      <input type="text" class="form-control" id="inlineFormInputGroupUsername" [formControlName]="'email'"  placeholder="Email">
    </div>
<label class="visually-hidden" for="inlineFormSelectPref">Preference</label>
</div>
      
        
      
        <div class="col-12">
          <button type="submit" class="btn btn-primary"  >sign up</button>
        </div>

      </form>
    </div>
  </div> -->
  
  <section class="vh-100" style="background-color: #eee;">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-12 col-xl-11">
          <div class="card text-black" style="border-radius: 25px;">
            <div class="card-body p-md-5">
              <div class="row justify-content-center">
                <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
  
                 
                  <form class="row row-cols-lg-auto g-3 align-items-center" [formGroup]="registrationForm" (ngSubmit)="submitData()">
                    <div class="col-12">
                      <label class="visually-hidden" for="inlineFormInputGroupUsername">Username</label>
                      <div class="input-group">
                        <input type="text" class="form-control" id="inlineFormInputGroupUsername" [formControlName]="'first_Name'"   placeholder="First Name">
                      </div>
                    </div>
                  
                    <div class="col-12">
                        <div class="input-group">
                            <input type="text" class="form-control" id="inlineFormInputGroupUsername" [formControlName]="'last_Name'"  placeholder="Last Name">
                          </div>
                      <label class="visually-hidden" for="inlineFormSelectPref">Preference</label>
                    </div>
                     <div class="col-12">
                      <label class="visually-hidden" for="inlineFormInputGroupUsername">Username</label>
                      <div class="input-group">
                        <input type="text" class="form-control" id="inlineFormInputGroupUsername" [formControlName]="'userName'" placeholder="Username">
                      </div>
                    </div>
                  
                    <div class="col-12">
                        <div class="input-group">
                            <input type="text" class="form-control" id="inlineFormInputGroupUsername" [formControlName]="'password'"  placeholder="Password">
                          </div>
                      <label class="visually-hidden" for="inlineFormSelectPref">Preference</label>
                    </div> 
                  
                    <div class="input-group mb-3">
                      <label class="btn btn-secondary">
                      <input #fileInput type="file" (change)="OnFileUpload($event)" accept=".jpg " class="form-control dn" id="inputGroupFile02"  >
                      <button type="button ml-1" class="btn btn-primary btn-lg" (click)="triggerClick()">Upload</button>
            
                    </label>
            
                    <img [src]="imagePreview" class="H200">
            
                    </div>
            
               
            <div class="col-12">
              <div class="input-group">
                  <input type="text" class="form-control" id="inlineFormInputGroupUsername" [formControlName]="'email'"  placeholder="Email">
                </div>
            <label class="visually-hidden" for="inlineFormSelectPref">Preference</label>
            </div>
                  
                    
                  
                    <div class="col-12">
                      <button type="submit" class="btn btn-primary btn-lg"  >sign up</button>
                    </div>
            
                  </form>
                </div>
                <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
                  
  
                  <img src="./assets/register.jpg" 
                    class="img-fluid" alt="Sample image">
  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

<!-- <div class="position-absolute top-50 start-50 translate-middle">
    <form class="row row-cols-lg-auto g-3 align-items-center" [formGroup]="registrationForm" (ngSubmit)="submitData()">
        <div class="col-12">
          <label class="visually-hidden" for="inlineFormInputGroupUsername">Username</label>
          <div class="input-group">
            <input type="text" class="form-control" id="inlineFormInputGroupUsername" [formControlName]="'first_Name'"   placeholder="First Name">
          </div>
        </div>
      
        <div class="col-12">
            <div class="input-group">
                <input type="text" class="form-control" id="inlineFormInputGroupUsername" [formControlName]="'last_Name'"  placeholder="Last Name">
              </div>
          <label class="visually-hidden" for="inlineFormSelectPref">Preference</label>
        </div>
         <div class="col-12">
          <label class="visually-hidden" for="inlineFormInputGroupUsername">Username</label>
          <div class="input-group">
            <input type="text" class="form-control" id="inlineFormInputGroupUsername" [formControlName]="'userName'" placeholder="Username">
          </div>
        </div>
      
        <div class="col-12">
            <div class="input-group">
                <input type="text" class="form-control" id="inlineFormInputGroupUsername" [formControlName]="'password'"  placeholder="Password">
              </div>
          <label class="visually-hidden" for="inlineFormSelectPref">Preference</label>
        </div> 
      
        <div class="input-group mb-3">
          <label class="btn btn-secondary">
          <input #fileInput type="file" (change)="OnFileUpload($event)" accept=".jpg " class="form-control dn" id="inputGroupFile02"  >
          <button type="button ml-1" class="btn btn-primary btn-lg" (click)="triggerClick()">Upload</button>

        </label>

        <img [src]="imagePreview" class="H200">

        </div>

   
<div class="col-12">
  <div class="input-group">
      <input type="text" class="form-control" id="inlineFormInputGroupUsername" [formControlName]="'email'"  placeholder="Email">
    </div>
<label class="visually-hidden" for="inlineFormSelectPref">Preference</label>
</div>
      
        
      
        <div class="col-12">
          <button type="submit" class="btn btn-primary"  >sign up</button>
        </div>

      </form>
    </div>

     -->