<div class="container my-5">
    <h1 class="mb-3">Edit Farm</h1>
    <form #form="ngForm" (ngSubmit)="updateFarm()">
        <div class="mb-4 w-25">
          <label for="Name" class="form-label">Name</label>
          <input type="text" class="form-control" id="name"  name="name" [(ngModel)]="farmDetail.name">
        </div>
        <button type="submit" class="btn btn-primary mr-5">Submit</button>
        <button type="button" class="btn btn-danger" (click)="deleteFarm(farmDetail.id)">Delete</button>
        
      </form>
</div>