<div class="container my-5">
    <button *ngIf="pets && pets.length>0" type="button ml-1" class="btn btn-success" (click)="AddPet()">Add Pet</button>
    <table class="table table-striped table-hover table-borderless table-sm " *ngIf="pets && pets.length>0">
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Type</th>
                <th>Score</th>
              <!-- <th>feeding_period</th>--> 
             <!--  <th>thist_quenching</th>--> 
             <th> </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let pet of pets ">
                
             <!--   <button type="button" class="btn btn-success" (click)="SetPetId(pet.type,pet.id)">Success</button>-->
                <!-- <td>{{pet.id}}</td> -->
                <td><a (click)="SetPetId(pet.type,pet.id)"><img *ngIf="pet.happiness_days_count!=0" src="\assets\4.jpg" width="100" height="100"/> <img *ngIf="pet.happiness_days_count==0" src="\assets\3.jpg" width="100" height="100"/></a><br></td>
                <!--[routerLink]="['Game/'+ pet.type]"  <td><a (click)="SetPetId(pet.type,pet.id)">Game</a><br>{{pet.id}}</td>        (click)="SetPetId(pet.type,pet.id)-->
                <!-- <td><a [routerLink]="['Game/'+pet.id]">Game</a><br>{{pet.id}}</td> -->
                <td  style="font-family: 'Arial', sans-serif; font-size: 20px;">{{pet.name}}</td>

             
                <td *ngIf="pet.type=='1'" style="font-family: 'Arial', sans-serif; font-size: 40px;">(◕‿◕)</td>
                <td *ngIf="pet.type =='2'"  style="  font-family: 'Arial', sans-serif; font-size: 40px; ">ʕ •̀ ᴥ •́ ʔ</td>
                <td  style="  font-family: 'Arial', sans-serif; font-size: 20px; " >{{pet.happiness_days_count}}</td>
                <!-- <td  style="  font-family: 'Arial', sans-serif; font-size: 20px; " >{{pet.feeding_period}}</td> -->
                <!--<td>{{pet.thist_quenching}}</td> -->
                <td><a [routerLink]="[pet.id]"><button type="button" class="btn btn-dark" >Edit</button></a></td>
               
            </tr>
            
        </tbody>
    </table>
    <div class="position-absolute top-50 start-50 translate-middle" *ngIf="!pets || pets.length<=0"> 
        <p style="font-size: x-large;">No Pets found </p>
        <h1  class="top-name center-block text-center mb-3"><button type="button ml-1" class="btn btn-success" (click)="AddPet()">Add Pet</button></h1></div>
 
</div>


  
<!-- onclick="AddPet()" routerLink="/Farm/PetByFarmIdFarmId/2/AddPetToFarm/2" -->


