<div class="container my-5">
    <h1 class="mb-3">Add Pet To Farm</h1>
    <form #form="ngForm" (ngSubmit)="AddPet()">
        <div class="mb-3 w-25">
          <label for="Name" class="form-label">Name</label>
          <input type="text" class="form-control" id="name"  name="name" [(ngModel)]="addPetRequest.name">
        </div>
        <button type="button" class="btn btn-danger" (click)="Primary()">⁽˙³˙⁾◟( ˘•◡•˘ )◞⁽˙³˙⁾</button>
            <button type="button" class="btn btn-secondary" (click)="Secondary()">ᕦʕ . ☯ ᴥ ☯ . ʔᕤ</button>
       <div class="mb-3">
          <!--   <label for="Type" class="form-label">Type</label>
            <input type="text" class="form-control" id="type"  name="type" [(ngModel)]="addPetRequest.type">-->
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
</div>